#menu-images {
  width: 100%;
  height: 300px;
}

@font-face {
  font-family: EleganceFont;
  src: url(../resources/ElegancePearl-Italic.otf);
}

@font-face {
  font-family: BagindFont;
  src: url(../resources/Bagind.otf);
}

#res-name {
  font-family: EleganceFont;
  font-size: 90px;
  color: azure;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  text-shadow: 4px 2px #ffa600;
}

.welcome {
  font-family: BagindFont;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../resources/background.jpg);
  background-attachment: fixed;
  background-position: center;
}

.carousel-item {
  width: 100%;
  height: 65%;
}

icon-shape {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.icon-sm {
  width: 2rem;
  height: 2rem;
}

.best-seller {
  font-family: EleganceFont;
  margin-top: 13vh;
  font-size: 70px;
  color: azure;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 4px 2px #ffa600;
}

#myModal {
  margin-top: 30vh;
}

.main {
  margin-top: 30vh;
  margin-left: 70vh;
  margin-right: 70vh;
}

.loginbox {
  padding: 5vh;
}

.reg {
  margin-top: 30vh;
  margin-left: 60vh;
  margin-right: 60vh;
}

.regbox {
  padding: 5vh;
}

.cart-table {
  margin-top: 15vh;
}

.checkout {
  margin-top: 20vh;
}

.receipt-container {
  max-width: 600px;
  margin: 10vh auto;
  padding: 20px;
  border: 2px dashed #ccc;
  background: #fdfdfd;
  font-family: monospace;
}
.receipt-header,
.receipt-footer {
  text-align: center;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.receipt-footer {
  border-top: 1px dashed #ccc;
  padding-top: 10px;
  margin-top: 20px;
}
.receipt-details,
.receipt-items,
.receipt-total,
.receipt-payment {
  margin-bottom: 20px;
}
.receipt-items th,
.receipt-items td {
  padding: 8px;
  text-align: left;
}
.total-amount {
  font-weight: bold;
}

.credit-card {
  margin: 10vh auto;
  padding: 10vh;
}

.cod {
  margin-top: 10vh;
  padding: 5vh;
}
